# 忽略编译器生成的文件和IDE配置文件
.vscode/
.idea/
.vscode*
.clangd/
.clang-format
compile_commands.json
compile_flags.txt
.cache

# 编译产物
*.o
*.obj
*.d
*.out
*.exe
build/

# 静态库与动态库
*.a
*.lib
*.so
*.dll
t

# 测试样例
*.out
o.*
out.*
*.i
*.in
i.*
in.*
